body{
    width: 100%;
    padding: 0px;
    margin: 0px;
}

div#logo
{
    width: 100px;
    height: 50px;
    background-color: orangered;

}
header{
    width: 100%;
    height: 100px;
    background-color: rgb(64, 173, 177);
    overflow: hidden;
}
.logoh{
    height: 150px;
    width: 150px;
    margin-left: 25px;
    margin-top: -20px;
}
content{
      width: 100%;
      background-color: yellow;
}

footer {
    width: 100%;
    height: 100px;
    background-color: blue;
}

.row
{
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 60px;
    background-color: white;
}

.row > div {
    width: 50%;
     height: 60px;
}
.left
{
    display: flex;
    align-self: center;
    justify-content: right;
    margin-left: 20px;
    background-color: white;
    padding-right: 20px;
  
}
.right
{
    align-items: center;
    margin-left: 20px;
    background-color: white;
}

.right > p {
    display: flex;
}